<div class="col md-12">
  <div class="col-md-4 offset-md-4 register-form">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card *ngIf="!isLoading">
      <h1>Register Here</h1>
      <form #form="ngForm" (ngSubmit)="onRegister(form)">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" name="email" ngModel required />
          <mat-error *ngIf="form.invalid">Email should be marwadi university email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" name="password" ngModel required minlength="7" />
          <mat-error *ngIf="form.invalid">password is required and minimum length is 7</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contact</mat-label>
          <input type="number" matInput placeholder="Contact" name="contact" ngModel required />
          <!-- <mat-error *ngIf="form.invalid">Email should be marwadi university email</mat-error> -->
          <mat-error *ngIf="form.invalid">contact is required</mat-error>
          <!-- <mat-error *ngIf="isContactInvalid">contact should be number and only 10 digit</mat-error> -->
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" style="background-color: #ff6265">
          Sign up
        </button>
        <button mat-button color="basic" routerLink="/" style="color: #ff6265">
          Already have accout?
        </button>
      </form>
    </mat-card>
  </div>
</div>
